<h1>JOIN US</h1>

<p class="lead">Insira seu endereço de e-mail e junte-se aos <b><%= count %></b> outros presentes em nossa lista de espera.</p>
<form action="/register" method="post">
    <input type="text" class="form" name="email" placeholder="Insira seu e-mail">
    <button>Junte-se</button>
</form>